@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #6b6375;
  font-family: Inter, ui-sans-serif, system-ui, sans-serif;
  color: #222222;
  background: #fdfcf9;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #fdfcf9;
}

#root {
  min-height: 100svh;
}
